@charset "UTF-8";

/*
#719BBD
#4B667D
#97CFFD
#25323D
#88BAE3
*/

:root{
    --cor0: #F08780;
    --cor1: #F0D885;
    --cor2: #F13F45;
    --cor3: #77F0D5;
    --cor4: #8186F0;

    --font-padrao: Arial, Verdana, Helvetica, Sans-serif;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

iframe{
    margin: auto;
    

}

body{
    background-image: linear-gradient(to right, var(--cor2), var(--cor3), var(--cor1));
}

main{
    background-color: white;    
    border-radius: 10px;
    box-shadow: 5px 10px 10px var(--cor4);
    width: 600px;
    padding: 10px;
    
    
    
    margin: auto;
   
}

header > h1{
    background-color: var(--cor4);
    color: var(--cor0);
    text-align: center;
    text-shadow: 1px 2px 3px var(--cor4);
    
    
}   
h1{
    color: var(--cor0);
    text-shadow: 1px 2px 3px var(--cor4);
}

h2{
    color: var(--cor0);
    text-shadow: 1px 2px 3px var(--cor4);
}

p{
    color: black;
}

h3{
    color: var(--cor0);
    text-shadow: 1px 2px 3px var(--cor4);
}

ul{
    list-style-position: inside;
}